html, body {
  margin: 0;
  padding: 0;
}
canvas {
  	display: block;
}
.sus{
	font-family: 'Roboto', sans-serif;
	position:absolute;
	color:#dedede;
	margin-left: auto;
	top:20px;
	font-size:30px;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}
.jos{
	font-family: 'Roboto', sans-serif;
	position:absolute;
	color:#dedede;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	font-size:30px;
	bottom:20px;
}